@{
    ViewData["Title"] = "Про нас";
}
<h1>@ViewData["Про нас"]</h1>

<p style="font-size:20px;">
    Спорт має дивовижні властивості. Він об’єднує людей, знайомить їх між собою. Спорт зміцнює здоров’я, характер і
    навіть розумові здібності людей, які ним займаються, 
    розвиває швидкість, спритність, реакцію, координацію, витривалість, терпіння і силу. 
    Спорт робить людей більш стійкими до негативних факторів зовнішнього середовища. 
    Він часто приносить людям позитивні емоції.
</p>
<br />
<p style="font-size:20px;">
   Ми створили цей сайт, аби ви могли швидко і зручно переглядати базу даних нашого фітнес-клубу.
</p>
